

body {
    margin: 0;
    background-color: var(--color-bg);
}

#root {
  margin: 0 auto;
  text-align: center;
  background-color: var(--color-bg);
  
}
.container{
  max-width: 1480px !important;

}